@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #D0C8F0; border-radius: 3px; }

body { font-family: 'Inter', sans-serif; }
